* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    //0.2777vw = 1px (360px vp width)
    font-size: 0.2777vw;
}

main {
    overflow: hidden;
}

p {
    all: unset;
}

button {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    line-height: 12.77vw;
    height: 12.77vw;
    letter-spacing: 0.019vw;
    font-size: 14rem;
    border: none;
    background-color: $bmw-blue;
    color: white;
    cursor: pointer;
}

h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 48rem;
    line-height: 15.55vw;
    color: white;

    @media(min-width: 360px) {
        width: 3.33vw;
        line-height: 3.33vw;
    }
}

h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 24rem;
    line-height: 7.77vw;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16rem;
    line-height: 6.66vw;
    color: #707070
}

h4 {
    font-size: 13rem;
    line-height: 6.66vw;
    color: #4e4e4e;
}

.images__container {
    position: relative;
    width: 100%;
    height: 75vw;
    padding-bottom: $main-padding;

    .images__container-image1 {
        position: absolute;
        width: 30.55vw;
        height: 30.55vw;
    }

    .images__container-image2 {
        position: absolute;
        width: 66.66vw;
        height: 66.66vw;
    }

}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}