* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    //0.2777vw = 1px (360px vp width)
    font-size: 0.2777vw;
}

p {
    all: unset;
}

button {
    transform: translateX(-50%);
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    line-height: 7.22vw;
    letter-spacing: 0.019vw;
    font-size: 14rem;
    border: none;
    background-color: $bmw-blue;
    color: white;
    cursor: pointer;
}

h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 48rem;
    line-height: 15.55vw;
    color: white;
}

h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 24rem;
    line-height: 7.77vw;
}