.facts {
    padding-top: 16.66vw;

    @media(min-width: 360px) {
        padding-top: 9.37vw;
    }

    .images__container {

        .images__container-image1 {
            bottom: 0;
            left: 0;
        }

        .images__container-image2 {
            right: 0;
            top: 0;
        }

    }

    .facts__content {
        padding: 0 $main-padding;
        margin: 16.66vw 0 33.47vw;

        .facts__title {
            display: flex;
            align-items: center;
            width: 51.94vw;
            height: 20.27vw;
            margin-top: 2.638vw;
        }

        .facts__icon {
            width: 6.66vw;
        }
    }
}