.hero {
    position: relative;

    .hero__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;

        .hero__naviagtion {
            display: none;
            align-items: center;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 64.79vw;
            height: 4.47vw;
            border-bottom: rgba(255, 255, 255, 0.25) 1.5px solid;

            .hero__naviagation-list {
                display: flex;
                list-style: none;

                .hero__naviagation-item {
                    margin-right: 3.12vw;
                    font-size: 0.93vw;
                    letter-spacing: 0.046vw;
                    line-height: 1.71vw;
                    font-family: 'Cairo';
                    font-weight: bold;
                    color: white;
                    cursor: pointer;

                }
            }

            @media(min-width: 360px) {
                display: flex;
            }

        }


        .hero__hamburger-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: 8.33vw;
            left: 8.88vw;
            width: 8.33vw;
            height: 5.55vw;
            cursor: pointer;

            .hero__hamburger,
            .hero__hamburger::before,
            .hero__hamburger::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 0.55vw;
                background-color: white;
            }

            .hero__hamburger::before {
                content: '';
                margin-top: 2.77vw;
            }

            .hero__hamburger::after {
                content: '';
                margin-top: -2.77vw;
            }

            @media(min-width: 360px) {
                display: none;
            }
        }

        .hero__bmw-logo {
            position: absolute;
            width: 11.11vw;
            height: 11.11vw;
            top: 5.55vw;
            right: 8.88vw;

            @media(min-width: 360px) {
                width: 2.75vw;
                height: 2.75vw;
                top: 1.04vw;
                right: 13.8vw;
            }
        }

        .hero__title-container {
            position: absolute;
            top: 43.33vw;
            padding: 0 $main-padding;

            @media(min-width: 360px) {
                top: 17.7vw;
                padding: 0 14.47vw;
            }

            .hero__bmw-i-logo {
                width: 16.29vw;

                @media(min-width: 360px) {
                    width: 4.58vw;
                }
            }

            .hero__title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 45.83vw;
                height: 40.55vw;

                @media(min-width: 360px) {
                    width: 21.66vw;
                }

            }

            .hero__subtitle-text {
                font-family: 'Roboto', sans-serif;
                font-size: 16rem;
                color: #D6D6D6;
                line-height: 6.66vw;

                @media(min-width: 360px) {
                    font-size: 0.83vw;
                    line-height: 1.04vw;
                }
            }
        }

        .hero__button {
            position: absolute;
            bottom: 26.38vw;
            left: 50%;
            transform: translateX(-50%);
            width: 74.72vw;
            height: 12.77vw;

            @media(min-width: 360px) {
                width: 19.3vw;
                height: 3.28vw;
                bottom: 3.9vw;
                line-height: 0.71vw;
                font-size: 0.93vw;
            }
        }




    }
}