.images-group {

    .images-group__image {
        padding: 0 2.77vw;
        margin-bottom: 19.44vw;
        width: 100%;

        @media(min-width: 360px) {
            padding: 0 0.52vw;
            margin-bottom: 8.9vw;
        }
    }

}