.test-drive {
    .test-drive__image-container-1 {
        position: relative;
        height: 66.94vw;
        margin-bottom: 7.22vw;

        .test-drive__image-1 {
            position: absolute;
            height: 100%;
            left: -43.61vw;

        }

        .test-drive__path-1 {
            position: absolute;
            width: 80.27vw;
            top: 25.99vw;
            left: -43.61vw;
            z-index: -1;
        }
    }


    .test-drive__content {
        padding: 0 $main-padding;
        margin-bottom: 16.66vw;

        .test-drive__title {
            height: 12.5vw;
        }

        .test-drive__title sup {
            font-size: 13rem;
        }
    }

    .test-drive__image-container-2 {
        position: relative;
        height: 98.61vw;

        .test-drive__image-2 {
            position: absolute;
            width: 108.61vw;
            right: -56vw;
        }

        .test-drive__path-2 {
            position: absolute;
            top: -40.4vw;
            left: 20.55vw;
            width: 98.33vw;
            z-index: -1;
        }
    }
}