* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 0.2777vw;
}

main {
  overflow: hidden;
}

p {
  all: unset;
}

button {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  line-height: 12.77vw;
  height: 12.77vw;
  letter-spacing: 0.019vw;
  font-size: 14rem;
  border: none;
  background-color: #3369D3;
  color: white;
  cursor: pointer;
}

h1 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 48rem;
  line-height: 15.55vw;
  color: white;
}

h2 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 24rem;
  line-height: 7.77vw;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16rem;
  line-height: 6.66vw;
  color: #707070;
}

h4 {
  font-size: 13rem;
  line-height: 6.66vw;
  color: #4e4e4e;
}

.images__container {
  position: relative;
  width: 100%;
  height: 75vw;
  padding-bottom: 8.88vw;
}
.images__container .images__container-image1 {
  position: absolute;
  width: 30.55vw;
  height: 30.55vw;
}
.images__container .images__container-image2 {
  position: absolute;
  width: 66.66vw;
  height: 66.66vw;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 11.11vw;
  height: 1.38vw;
  border-radius: 0px;
  margin: 0 4.16vw 0 0;
  background-color: #fff;
  opacity: 1;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction {
  bottom: 7.2vw;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #3369D3;
  height: 0.92vw;
}

.hero {
  position: relative;
}
.hero .hero__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.hero .hero__main .hero__hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 8.33vw;
  left: 8.88vw;
  width: 8.33vw;
  height: 5.55vw;
  cursor: pointer;
}
.hero .hero__main .hero__hamburger-container .hero__hamburger,
.hero .hero__main .hero__hamburger-container .hero__hamburger::before,
.hero .hero__main .hero__hamburger-container .hero__hamburger::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.55vw;
  background-color: white;
}
.hero .hero__main .hero__hamburger-container .hero__hamburger::before {
  content: "";
  margin-top: 2.77vw;
}
.hero .hero__main .hero__hamburger-container .hero__hamburger::after {
  content: "";
  margin-top: -2.77vw;
}
.hero .hero__main .hero__bmw-logo {
  position: absolute;
  width: 11.11vw;
  height: 11.11vw;
  top: 5.55vw;
  right: 8.88vw;
}
.hero .hero__main .hero__title-container {
  position: absolute;
  top: 43.33vw;
  padding: 0 8.88vw;
}
.hero .hero__main .hero__title-container .hero__bmw-i-logo {
  width: 16.29vw;
}
.hero .hero__main .hero__title-container .hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45.83vw;
  height: 40.55vw;
}
.hero .hero__main .hero__title-container .hero__subtitle-text {
  font-family: "Roboto", sans-serif;
  font-size: 16rem;
  color: #D6D6D6;
  line-height: 6.66vw;
}
.hero .hero__main .hero__button {
  position: absolute;
  bottom: 26.38vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 74.72vw;
  height: 12.77vw;
}

.facts {
  padding-top: 16.66vw;
}
.facts .images__container .images__container-image1 {
  bottom: 0;
  left: 0;
}
.facts .images__container .images__container-image2 {
  right: 0;
  top: 0;
}
.facts .facts__content {
  padding: 0 8.88vw;
  margin: 16.66vw 0 33.47vw;
}
.facts .facts__content .facts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 51.94vw;
  height: 20.27vw;
  margin-top: 2.638vw;
}
.facts .facts__content .facts__icon {
  width: 6.66vw;
}

.attribute {
  margin-top: 8.33vw;
}
.attribute .attribute__number {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 12rem;
  line-height: 6.38vw;
}
.attribute .attribute__path {
  display: block;
  position: relative;
  width: 82.22vw;
  height: 0.416vw;
  margin: 4.16vw 0;
  background-color: rgb(226, 226, 226);
}
.attribute .attribute__path::after {
  content: "";
  position: absolute;
  width: 3.61vw;
  height: 0.416vw;
  top: 0;
  left: 0;
  background-color: #4e4e4e;
}
.innovations .images__container {
  margin-bottom: 16.66vw;
}
.innovations .images__container .images__container-image1 {
  right: 0;
  top: 0;
}
.innovations .images__container .images__container-image2 {
  left: 0;
  bottom: 0;
}
.innovations .innovations__content {
  padding: 0 8.88vw;
}
.innovations .innovations__content .innovations__icon {
  width: 15.527vw;
  margin-bottom: 2.77vw;
}
.innovations .innovations__content .innovations__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8.33vw;
  width: 48.33vw;
  height: 28.05vw;
}
.innovations .innovations__content .innovations__subtitle {
  margin-bottom: 4.16vw;
}
.innovations .innovations__content .innovations__text {
  margin-bottom: 33.33vw;
}

.test-drive .test-drive__image-container-1 {
  position: relative;
  height: 66.94vw;
  margin-bottom: 7.22vw;
}
.test-drive .test-drive__image-container-1 .test-drive__image-1 {
  position: absolute;
  height: 100%;
  left: -43.61vw;
}
.test-drive .test-drive__image-container-1 .test-drive__path-1 {
  position: absolute;
  width: 80.27vw;
  top: 25.99vw;
  left: -43.61vw;
  z-index: -1;
}
.test-drive .test-drive__content {
  padding: 0 8.88vw;
  margin-bottom: 16.66vw;
}
.test-drive .test-drive__content .test-drive__title {
  height: 12.5vw;
}
.test-drive .test-drive__content .test-drive__title sup {
  font-size: 13rem;
}
.test-drive .test-drive__image-container-2 {
  position: relative;
  height: 98.61vw;
}
.test-drive .test-drive__image-container-2 .test-drive__image-2 {
  position: absolute;
  width: 108.61vw;
  right: -56vw;
}
.test-drive .test-drive__image-container-2 .test-drive__path-2 {
  position: absolute;
  top: -40.4vw;
  left: 20.55vw;
  width: 98.33vw;
  z-index: -1;
}

.images-group .images-group__image {
  padding: 0 2.77vw;
  margin-bottom: 19.44vw;
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8.88vw;
}
.form ::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 6.66vw;
}
.form ::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 6.66vw;
}
.form :-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 6.66vw;
}
.form ::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 6.66vw;
}
.form label,
.form ::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 6.66vw;
}
.form label {
  margin-left: 2.77vw;
}
.form .form__header {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 20rem;
  line-height: 11.11vw;
  white-space: nowrap;
  text-align: center;
}
.form .form__radio-container {
  margin: 8.33vw 0;
}
.form .form__radio-container .form__radio-input {
  margin-left: 8.33vw;
}
.form .form__input-text {
  height: 11.11vw;
  width: 82.22vw;
  margin-bottom: 4.16vw;
  padding-left: 4.16vw;
  border: 1px solid #DCDCDC;
}
.form .form__button {
  margin-top: 4.16vw;
  width: 45.83vw;
}

.footer {
  padding: 25vw 8.88vw;
  width: 100%;
  background-color: #E6E6E6;
}
.footer .footer__header {
  padding: 8.33vw 0;
  font-size: 20rem;
  line-height: 6.66vw;
  color: #707070;
}
.footer .footer__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66.66vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__image {
  width: 8.88vw;
}
.footer .footer__line {
  display: block;
  margin-top: 8.33vw;
  width: 100%;
  height: 0.55vw;
  background-color: #d5d5d5;
}/*# sourceMappingURL=style.css.map */