* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 0.2777vw;
}

p {
  all: unset;
}

button {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  line-height: 7.22vw;
  letter-spacing: 0.019vw;
  font-size: 14rem;
  border: none;
  background-color: #3369D3;
  color: white;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 11.11vw;
  height: 1.38vw;
  border-radius: 0px;
  margin: 0 4.16vw 0 0;
  background-color: #fff;
  opacity: 1;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction {
  bottom: 7.2vw;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #3369D3;
  height: 0.92vw;
}

.hero {
  position: relative;
}
.hero .hero__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.hero .hero__main .hero__hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 8.33vw;
  left: 8.88vw;
  width: 8.33vw;
  height: 5.55vw;
  cursor: pointer;
}
.hero .hero__main .hero__hamburger-container .hero__hamburger,
.hero .hero__main .hero__hamburger-container .hero__hamburger::before,
.hero .hero__main .hero__hamburger-container .hero__hamburger::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.55vw;
  background-color: white;
}
.hero .hero__main .hero__hamburger-container .hero__hamburger::before {
  content: "";
  margin-top: 2.77vw;
}
.hero .hero__main .hero__hamburger-container .hero__hamburger::after {
  content: "";
  margin-top: -2.77vw;
}
.hero .hero__main .hero__bmw-logo {
  position: absolute;
  width: 11.11vw;
  height: 11.11vw;
  top: 5.55vw;
  right: 8.88vw;
}
.hero .hero__main .hero__title-container {
  position: absolute;
  top: 43.33vw;
  left: 8.88vw;
}
.hero .hero__main .hero__title-container .hero__bmw-i-logo {
  width: 16.29vw;
}
.hero .hero__main .hero__title-container .hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45.83vw;
  height: 40.55vw;
}
.hero .hero__main .hero__title-container .hero__title .hero__title-text {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 48rem;
  line-height: 15.55vw;
  color: white;
}
.hero .hero__main .hero__title-container .hero__subtitle-text {
  font-family: "Roboto", sans-serif;
  font-size: 16rem;
  color: #D6D6D6;
  line-height: 6.66vw;
}
.hero .hero__main .hero__button {
  position: absolute;
  bottom: 26.38vw;
  left: 50%;
  width: 74.72vw;
  height: 12.77vw;
}

.facts {
  padding-top: 16.66vw;
}/*# sourceMappingURL=style.css.map */